[req]
prompt = no
distinguished_name = req_distinguished_name
default_md = sha256
default_bits = 4096
req_extensions = v3_req

[ req_distinguished_name ]
DC=io
0.DC=confluent
organizationalUnitName=users
commonName=myclient

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
nsComment = "OpenSSL Generated Certificate"
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth