[req]
prompt = no
distinguished_name = req_distinguished_name
default_md = sha256
default_bits = 4096
req_extensions = v3_req

[ req_distinguished_name ]
commonName = confluent

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
nsComment = "OpenSSL Generated Certificate"
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = vagrant
DNS.2 = kafka
DNS.3 = zookeeper
DNS.4 = schema-registry
DNS.5 = connect
DNS.6 = ksql
DNS.7 = control-center
DNS.8 = rest-proxy
DNS.9 = localhost
DNS.10 = confluent
DNS.11 = 192.168.33.10  
IP.1 = 192.168.33.10 